    /* *{
        font-family: sans-serif;
        font-weight: bold;
        background-color: brown;
        font-size: 10px;
    } */
    h1{
      color: red;
  }
  .head{
      color: green;
      font-size: 40px;
  }
  .para2{
      font-size: 20px;
      color: aqua;
      background-color: blue;
  }
     ol li{
      color: rebeccapurple;
  }
  .container > p{
      color: aqua;
  }

  input[type="password"]{
    
    width: 200px; 
    height: 20px;
    background-color: blue;
    color: white;

  }
  h2,h3,p{
    background-color: blueviolet;
  }
