 .box{
    /* margin-top: 300px; */
    /* margin-left: 300px; */
    /* border: 20px solid black; */
    width: 600px;
    height: 600px;
    background-color: aqua;
     transition-duration: 1s;
    /* transition-property: img; */
    transition-timing-function: ease-in; 
    /* transition: all 2s 1s ease-in; */
     /* transition: all 2s 1s cubic-bezier(1, 0.11, 0, 1.38); */

 } 

 /* img:hover{
    transform: scale(1.5);
 } */

  /* .box:hover img { */
/* background:red; */
/* width: 300px; */
/* height: 400px; */
      /* cursor: pointer;  */
/* transition: 2s; */
    /* transform:rotate(360deg);    */
 /* }     */
 /* .square{
    width: 200px;
    height: 200px;
    position: relative;
    background-color: blueviolet;
     border-radius: 50%; 
    animation-name: square;
    animation-duration: 2s;
    animation-timing-function:linear;
    /* animation-delay: 2s; */
   /* animation-iteration-count: i;  */
   /* animation-direction: alternate-reverse ; */
     /* animation-fill-mode:backwards;  */
 /* }  */
  
 /* @keyframes square {
    0%{
        width: 0px;
        top: opx;
        left: 100px;
        background-color: yellow;
    }
    20%{
        top: 50px;
        left: 300px;
        width: 30px;
        background-color: green;
    }
    40%{
        top: 60px;
        left: 400px;
        width: 100px;
        background-color: rgb(0, 0, 0);
    } 
    60%{
        top: 80px;
        left: 500px;
        width: 200px;
        background-color: rgb(209, 209, 183);
    } 
    80%{

        top: 100px;
        left: 600px;
        width: 300px;
        background-color: yellow;
    } 
    100%{

        top: 200px;
        left: 700px;
        width: 500px;
        background-color: yellow;
    } 

 }  */
 /* @keyframes square{
    0%{
      
        top: 0px;
        left: 400px;
    }
    25%{
     
        top: 0px;
        left: 700px;
    }
    50%{
 
        top: 400px;
        left: 300px;
    }
    75%{
 
        left: 0px;
    }
    100%{
        left: 0px;
        top: 0px;
    }

 } */
     
