.box{
  height: 200px;
  width: 200px;
  border: 2px solid black;
  background-color: brown;
  transition-duration: 1s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.42, 0, 0, 0.35);
  /* transition-delay: 1s; */
  

}
/* single line */
     /* transition: all 2s 1s cubic-bezier(1, 0.11, 0, 1.38); */
.box:hover{
  background-color: blue;
  /* border-radius:50% ; */
  cursor: pointer;
  /* transform:scale(1.5) ; */
  /* transform: rotate(180deg); */
  /* transform: translate(100px); */
  /* transform: translateY(-100px); */
  /* transform: translateY(100px); */
  /* transform:rotateX(360deg)
  */
  /* transform: rotate(180deg); */
  /* transform: rotateZ(90deg); *
  */
 




}