*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
ul{
    background-color: black;
}

ul li{
    list-style-type: none;

}
ul li {
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 20px 25px;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}
ul li ul.dropdown li {
    display: block;

}
ul li ul.dropdown {
    width: 100%;
    background-color: black;
    color: white;
    display: none  ;
    z-index: 999;
    position: absolute;                            ;
}
ul li a:hover{
    background-color:white;
    color: black;
    border: 2px solid yellow;
}
ul li:hover ul.dropdown{
    display: block;
}
body{
    background-color: red;
}
ul.js {
    position: absolute;
    left: 130px;
    top: 1px;
}
ul li ul.dropdown  li ul.js li{
    display: none;
    
}
ul li ul.dropdown li ul.js li a{
    display: block;
    padding: 20px 25px;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    
}
ul li ul.dropdown li ul.js li a:hover{
    background-color:white;
    color: black;
    border: 2px solid yellow;
}


ul li ul.dropdown  li:hover ul.js li{
 
    display: block;
}




