body{
    background-color: green;
}
  *{
    font-family: sans-serif;
    /* background-color: blue ; */
  }
/* p{
  background-color: red;
  color: white;
} */
input[type='text']{
  height: 20px;
  width: 200px;
  background-color: red;
}
p,h1,input{
  color: white;
  background-color: red;
}


p{
    font-family: cursive;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    font-variant: small-caps;

}