  /* grid rows */
 .box{ 
    background-color: blueviolet;
    color: white;
    font-size: 4rem;
    padding: 20px;
     border: 2px solid black;  
    display: grid;  
    /* left to right */
    justify-content: center;
    /* top to bottom */
    align-items: center;        
     /* height:100px; */
    /* width: 100px;  */
 } 

   .main{
    min-height: 700px;
    background: red; 
    margin: 20px;
     display: grid;  
     


    grid-template-columns:repeat(5,1fr); 

     /* 1.default row convert column */
     grid-auto-flow: column;

    /*2. define rows */
     grid-template-rows: 100px 300px 200px;

      /*3. extra add rows */
     grid-auto-rows: 100px;
    gap: 20px;  
   
    /* align-items: stretch; */
    /* align-items: center; */
    /* align-items: flex-start; */
    /* align-items:center; */
    /* justify-content: center; */
    /* justify-content: flex-start; */
    /* justify-content:     space-around; */
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
  }  

/* grid column */
 /* .box1{   */
    /* grid-column-start: 1; */
    /* grid-column-end: 5;     */
     /* grid-column: 1/4; */
    /* grid-column: 1/-1   ; */
    /* grid-column: span 5; */
    /* justify-self: center; */
    /* align-self: center; */

   /* }    */

/* 
 grid rows
 */
 .box1{  
    grid-row-start: 1; 
     grid-row-end: 4;


 
 }     