  /* grid rows */
/* .box{
    background-color: blueviolet;
    color: white;
    font-size: 4rem;
    padding: 20px;
     border: 2px solid black;  */
    /* display: grid;   */
    /* left to right */
    /* justify-content: center; */
    /* top to bottom */
    /* align-items: center;         */
     /* height:100px; */
    /* width: 100px;  */
 /* }  */
 /* .main{
    min-height: 700px;
    background: red; */
    /* margin: 20px; */
     /* display: grid;   */


    /* grid-template-columns:repeat(5,1fr);  */

     /* 1.default row convert column */
     /* grid-auto-flow: row; */

    /*2. define rows */
     /* grid-template-rows: 100px 300px 200px; */

      /*3. extra add rows */
    /* grid-auto-rows: 100px;
    gap: 20px;  */
   
    /* align-items: stretch; */
    /* align-items: center; */
    /* align-items: flex-start; */
    /* align-items:center; */
    /* justify-content: center; */
    /* justify-content: flex-start; */
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
  /* }   */

/* grid column */
 /* .box1{ 
    grid-column-start: 1;
    grid-column-end: 6;    */
    /* grid-column: 1/4; */
    /* grid-column: 1/-2; */
    /* grid-column: span 5; */
    /* justify-self: center; */
    /* align-self: center; */

  /* }   */

/* 
 grid rows
 */
 /* .box3{ 
    grid-row-start: 2; 
     grid-row-end: 4;


 
 }     */




























 p{  
    background-color: blue; 
    color: white;
    border: 3px solid black;
     padding: 5px;
     height: 100px;
     /* width: 200px; */
     overflow:hidden;

  } 
.container{ 
    min-height: 1000px;
    background-color: aqua;
     
    display: grid;  
    /* grid-template-columns: 30% 30% 30%; */
    justify-content: space-evenly;
    align-items:center; 
 

    /* grid-template-columns: 1fr 2fr 1fr 1fr; */
    /* grid-template-columns: 300px 1fr 1fr ; */
    /* grid-template-columns: 300px 300px 300px; */
     /* column-gap: 20px; */
    /* row-gap: 50px;  */
       gap: 20px;
    /* grid-template-columns: 300px 200px  auto; */
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-template-columns: minmax(300px,1fr) 1fr 1fr; */
    /* grid-template-columns: repeat(2,minmax(300px,1fr) ); */
    /* grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); */
    grid-template-columns: repeat(auto-fill,minmax(200px ,1fr));

 
  }   

 