ul li{
    /* list-style-type: decimal; */
    /* list-style-type: circle; */
    /* list-style-type: decimal-leading-zero; */
    /* list-style-type: square; */
    /* list-style-type: lower-greek; */
    /* list-style-type: upper-alpha; */
    /* list-style-type: lower-alpha; */
    /* list-style-type: upper-roman; */
    /* list-style-type: lower-roman; */
    /* color: aqua; */
    /* list-style: circle outside; */
    /* list-style-position: inside; */
    /* list-style-position: outside; */

    list-style: square inside url("../img/tick.png");
   
    
    
    /* list-style-type: none; */

}

 /* ol li{ */
   /* list-style-type: decimal; */
    /* list-style-type: circle; */
    /* list-style-type: decimal-leading-zero; */
    /* list-style-type: square; */
    /* list-style-type: lower-greek; */
    /* list-style-type: upper-alpha; */
    /* list-style-type: lower-alpha; */
    /* list-style-type: upper-roman; */
    /* list-style-type: lower-roman; */
    /* color: aqua; */
    /* list-style: circle outside; */
    /* list-style-position: inside; */
    /* list-style-position: outside; */

    /* list-style: square inside url("../img/tick.avif"); */
/* } 
body{
    background-color: blueviolet;
} */
