.para1{
    background-color: red;

}
.para2{
    background-color: blue;
}
.para3{
    background-color: brown;
}


@media screen and  (max-width:768px){
    .container p{
        font-size: 20px;
        background-color: chartreuse;
        color: white;
    }
}


  @media screen  and (min-width:769px){
    .container p{
        background-color: brown;
    }
}

@media print {
    .container p{
        color:red;
    }
 } 
     